@model WebBookProject.Controllers.HomeController

@{
    ViewData["Title"] = "About Me";
}

<section class="py-3 py-md-5">
  <div class="container mb-4 mb-md-5">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-xxl-8 text-center">
        <img class="img-fluid rounded shadow" loading="lazy" src="~/images/IMG_0040.jpg" alt="" style="max-height: 300px;">
        <h2 class="display-4 fw-bold mt-3">Nika Gagua</h2>
        <p class="text-secondary fs-5 mb-2">Software Developer</p>
        <div class="d-grid">
          <a href="https://ge.linkedin.com/in/n1kagagua?trk=profile-badge" class="btn btn-primary btn-lg mt-2" target="_blank" rel="noopener noreferrer">Hire Me</a>
        </div>
        <div class="badge-base LI-profile-badge mt-3" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="n1kagagua" data-version="v1">
          <a class="badge-base__link LI-simple-link" href="https://ge.linkedin.com/in/n1kagagua?trk=profile-badge"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row gy-4 justify-content-center">
      <div class="col-md-8 text-center">
        <p class="lead">
          I'm <strong>Nika Gagua</strong>, an aspiring software developer driven by a passion for learning and problem-solving.
        </p>
        <p>
          Currently exploring the extensive possibilities of Python and C#, I leverage my diverse background to approach challenges from a unique perspective.
        </p>
        <p>
          My spare time is dedicated to mastering new technologies, and I find joy in delving into the tech world's depths to solve problems and bring ideas to life through code.
        </p>
        <p>
          Let's connect and collaborate to navigate the exciting intersections of Python, C#, and beyond!
        </p>
      </div>
    </div>
  </div>
</section>

</section>
