@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>
        We value and prioritize the privacy of our users. This Privacy Policy outlines the types of information we collect and how we use, store, and protect that information.
    </p>
    <p>
        <strong>Information Collection and Usage</strong>
    </p>
    <p>
        We may collect personal information, such as names, email addresses, and other relevant details, when voluntarily submitted by our users. This information is used solely for the purpose of providing and improving our services and communicating with our users.
    </p>
    <p>
        We may also collect non-personal information, such as browser type, IP address, and access times, to analyze trends, administer the site, and gather demographic information. This data is collected automatically and does not personally identify individuals.
    </p>
    <p>
        <strong>Information Protection</strong>
    </p>
    <p>
        We take appropriate security measures to protect against unauthorized access, alteration, disclosure, or destruction of personal information. However, please be aware that no method of transmission over the internet or electronic storage is 100% secure.
    </p>
    <p>
        <strong>Information Sharing</strong>
    </p>
    <p>
        We do not sell, trade, or rent users' personal information to third parties. We may share generic aggregated demographic information not linked to any personal identification with our trusted partners and advertisers.
    </p>
    <p>
        <strong>External Links</strong>
    </p>
    <p>
        Our website may contain links to external sites that are not operated by us. We have no control over the content and practices of these sites and are not responsible for their privacy policies. We encourage users to be aware when they leave our site and to read the privacy statements of any other site that collects personal information.
    </p>
    <p>
        <strong>Changes to this Privacy Policy</strong>
    </p>
    <p>
        Solutions2Share Ticket Management reserves the right to update or modify this Privacy Policy at any time without prior notice. We advise users to review this page periodically for any changes.
    </p>
    <p>
        <strong>Contact Us</strong>
    </p>
    <p>
        If you have any questions or concerns about this Privacy Policy or our practices, please contact us at <a href="mailto:Nikagagua@live.com">Nikagagua@live.com</a>.
    </p>
    <p>
        <em>Last updated: @DateTime.Now.Year</em>
    </p>
</div>


