<div class="container-fluid">
    &copy; @DateTime.Now.Year - Made with <i class="bi bi-heart-fill"></i> by Nika Gagua - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-muted" style="text-decoration: none;">Privacy</a>
</div>