@model CategoryModel

<form method="post">
    <input type="hidden" asp-for="CategoryId"/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Delete Category
            </h2>
            <hr/>
        </div>
        <div class="row mb-3 pt-1">
            <label class="form-label pt-0" asp-for="Name"></label>
            <input class="form-control" disabled asp-for="Name"/>
        </div> 
        <div class="row mb-3 pt-1">
            <label class="form-label pt-0" asp-for="DisplayOrder"></label>
            <input class="form-control" disabled asp-for="DisplayOrder"/>
        </div> 

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger rounded form-control">
                    <i class="bi bi-pencil-square"></i> Delete
                </button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary rounded form-control"> 
                    <i class="bi bi-trash"></i> Back To List
                </a>
            </div>
        </div>        
    </div>
</form>
