<!DOCTYPE HTML>

<html>
	<head>
		<title>Nika Gagua</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="~/css/main.css" />
		<link rel="stylesheet" href="~/css/ie9.css" />
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body class="is-loading">
			<div id="wrapper">
					<section id="main">
						<header>
							<span class="avatar"><img src="~/images/IMG_0040.jpg" alt="Nika's picture" width="300"/></span>
							<h1>Nika Gagua</h1>
						</header>
						<footer>
							<ul class="icons">
								<li><a href="https://www.linkedin.com/in/N1kagagua/" class="fa-linkedin">LinkedIn</a></li>
								<li><a href="https://github.com/Nikagagua" class="fa-github">Github</a></li>
								<li><a href="https://twitter.com/Nicknet1c" class="fa-twitter">Twitter</a></li>
							</ul>
						</footer>
					</section>

			</div>
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>